@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

body {
    margin:0px;    
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#maincontent {
    margin:12px;
}
.topnav {
  overflow: hidden;
  background-color: #6341ebff;
}

.silkscreen-font {
 font-family:"Silkscreen",cursive;   
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

button, input[type=button], input[type=submit], input[type=checkbox], input[type="radio"], input[type=reset] {cursor:pointer;}
