@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

body {
    margin:0px;    
    line-height: 0 !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#maincontent {
    margin:12px;
}
.topnav {
  overflow: hidden;
  background-color: #6341ebff;
}

.silkscreen-font {
 font-family:"Silkscreen",cursive;   
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

button, input[type=button], input[type=submit], input[type=checkbox], input[type="radio"], input[type=reset] {cursor:pointer;}

.button-container{
    margin-top:40px;
}

.button-container  button{
    font-family: 'Silkscreen', cursive;
    margin-left:20px;
    width:150px;
}

.green{background-color: green;}

.divBg:hover{
    /*to make an inner shadow on the divs*/
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 1) inset;
}

#healthbar{
    width: 180px;
    height: 20px;
    background-color: green;
    margin:5px;
    text-align: left;
}
.dirt{
    background-image: url("images/dirt.png");
    background-size: contain;
}
.grass{
    background-image: url("images/grass.png");
    background-size: contain;
}
.tree{
    background-image: url("images/tree.png");
    background-size: contain;
}
.leaf{
    background-image: url("images/leaf.jpg");
    background-size: contain;
}
.rock{
    background-image: url("images/rock.png");
    background-size: contain;
}
.clouds{
    background-color: #FFF;
    width:35px;
    height: 35px;
    display: inline-block;
}
.crafting-table{
    background-image: url("images/crafting-table.png");
    background-size: contain;
}

#layout{
    display: flex;
    visibility: hidden;
}
.wrapper{
    background-color: black;
    height: auto;
    width: 220px;
    display: flex;
    justify-content:center;
    /*align-items:center;*/
    flex-direction: column;
}

.tool{
    border: 1px white solid;
    width: 90px;
    height: 90px;
    color:white;
}
.tool img{
    width: 55px;
    height: 55px;
}


.tool:hover{
    background-color: blue !important;
}

#tools{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 0px;
    color:white;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Silkscreen', cursive;
}

#inventory button{
    display: inline-block;
    width: 66px;
    height: 44px;
    color:black;
}

.inventory{
    font-size: 20px;
    text-align: center;
}
#inventory{
   padding-left:10px;
}
#restore{
    font-size: 20px;
    font-family: 'Silkscreen', cursive;
    margin:5px 0px;
    height:30px;
}
.backgroundRed{background: red !important;}

@media only screen and (min-width: 1001px) {
    .divBg{
        width:35px;
        height:35px;
        background-color: #91C1FC;
        display: inline-block;
    }
    .clouds{
        background-color: #FFF;
        width:35px;
        height: 35px;
        display: inline-block;
    }
}

@media only screen and (max-width: 1000px) {
    .divBg{
        width:20px;
        height: 20px;
        background-color: #91C1FC;
        display: inline-block;
    }
    .clouds{
        background-color: white;
        width:20px;
        height: 20px;
        display: inline-block;
    }
    #inventory button{
        width: 33px;
        height: 22px;
    }
    .tool{
        border: 1px white solid;
        width: 50px;
        height: 50px;
        color:white;
        font-size: 8px;
    }
    .tool img{

        width: 25px;
        height: 25px;
    }
    .inventory{
        font-size: 10px;
        text-align: center;
    }

}
